@{
  Layout = "_Layout";
}

<div class="container-fluid">
  <div class="page-header">
    <h1>Your Album Collection</h1>
    <p>A Place To Organize Discs, because physical media is still a real thing</p>
  </div>
</div>